<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Alice Borie would like to help you with Python! Please contact her at 123-456-7890.
    </p>
  </body>
</html>